/* Media queries */
@media screen and (max-width: 650px) {
    .box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: 320px;
        margin-top: 50px;
        padding: 16px;
    }
}

@media screen and (min-width: 650px) {
    .box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: 320px;
        margin-top: 50px;
        padding: 32px;
    }
}

/* Styles */
html {
    height: 100%;
    background: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: #666;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
}

.login-box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666;
    margin-bottom: 1em;
}

.login-box-error {
    display: flex;
    padding: 8px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;;
    border-radius: .25rem;
    color: white;
}

.login-box-error > p {
    color: rgb(113, 29, 38);
    margin: 0;
}

.box-top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    color: white;
    border-radius: 50%;
    padding: 4px;
    background: dodgerblue;
}

/* Error */
.error-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.error-box-icon {
    color: dodgerblue;
}

/* Confirm access */
.confirm-box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666;
}

.confirm-box-content {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
}

.confirm-box-item-row {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 0;
}

.confirm-box-item-row i {
    color: dodgerblue;
}

.confirm-box-item {
    display: flex;
    flex-direction: column;
    padding: 0 8px 0 8px;
}

.confirm-box-item p {
    margin: 0;
}

.confirm-box-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px 0 0 0;
}

.confirm-box-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-success {
    height: 48px;
    color: white;
    background: dodgerblue;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    cursor: pointer;
}

.btn-deny {
    height: 48px;
    background: transparent;
    border: none;
    border-radius: 3px;
    font-size: 0.9em;
    cursor: pointer;
}